/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
.body {
	
	height: 100%;
	line-height: 1;
	font-size: 16px;
	color: black;
}
.wrapper {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	left: 65.88%;
	top: 15.24%;
}
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 96px;
	align-items: center;
	background: #121212;
}

.header__menu {

	
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	
}
.menu__item {
	margin: 0 -1px;
	padding: 28px 19px;
	background: #121212;
	border: 1px solid #292929;
}
@media (max-width: 715px) {
	.menu__item {		
		padding: 18px 9px;
		
	}
}
.menu__item span {
	display: inline-block
	font-weight: 700;
	font-size: 21px;
	line-height: 38px;
	color: #FFFFFF;
	position: absolute;
	top: 28px;
}
.menu__item_buffer {
	width: 276px;
	margin: 0 -1px;
	padding: 28px 19px;
	border: 1px solid #292929;
}
@media (max-width: 1190px) {
	.menu__item_buffer {
		width: 50px;
	}
}
.menu__link {
font-weight: 700;
font-size: 16px;
line-height: 38px;
color: #4081FF;
	
/*------------------------------------------*/
/*------------------------------------------*/
}
.page {
	flex: 1 1 auto;
	width: 100%;
}
.page__main-block {
}
.main-block {
	position: relative;
	background: #121212;
	min-height: 518px;
	top: 0;
	left: 0;
	margin: 0 0 64px 0;
}
.main-block_container {
}
._container {
}
.main-block__title {
	font-weight: 600;
	font-size: 32px;
	line-height: 65px;
	color: #FFFFFF;
	padding-top: 151px;
	max-width: 700px;
}
.main-block__title span {
	background-color: red;
}
.main-block__text {
	margin-top: 15px;
	font-weight: 700;
	font-size: 32px;
	line-height: 65px;
	color: #4081FF;
	
}
.imgtelega {
	margin-top: 14px;
}
.main-block__image {

}
._ibg {
}
/*-----------------------------------------*/
.page__price-block {
}
.price-block {
	
}
.price-block_container {
}
._container {
}
.price-block__text {
}
.price-block__text_free {
	font-weight: 600;
	font-size: 32px;
	line-height: 65px;
	color: #263238;
}
.price-block__text_free span {
	color: #20B361;
}
.price-block__text_sub {
	font-size: 16px;
	line-height: 140%;
	color: #818594;
}
.price-block__plan {
	display: flex;
	margin: 103px 0 86px 0;
	
}
.price-block__list {
	width: 366px;
	padding: 63px 25px 0 0;
	font-size: 15px;
	line-height: 140%;
	text-align: right;
	color: #818594;
	border: 1px solid #DCDFEE;
}
.price-block__list p {
	padding: 0 0 20px 0;
}
.price-block__start {
	width: 208px;
	padding: 17px;
	background: linear-gradient(360deg, #F2F3F9 -76.23%, rgba(242, 243, 249, 0) 135.58%);
}
.price-block__start_recomendation {
	display: block;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	line-height: 135%;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #818594;
	width: 120px;
	height: 19px;
	background: #F7F7F9;
	border-radius: 3px;
	margin-bottom: 23px;
}
.price-block__start_name {
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	color: #1C2133;
	margin-bottom: 8px;
}
.price-block__start__sum {
	font-weight: 700;
	font-size: 16px;
	line-height: 32px;
	
	margin-bottom: 16px;
	}
	.sum_green {
		color: #20B361;
	}
	.sum_blue {
		color: #4164E2;
	}

.price-block__start_publication {
	font-size: 15px;
	line-height: 140%;
	color: #818594;
	margin-bottom: 20px;
}
.price-block__start_publication num {
	font-weight: 700;
	font-size: 15px;
	line-height: 140%;
	color: #000000;
}
.price-block__start_period {
	font-size: 15px;
	line-height: 140%;
	color: #818594;
	margin-bottom: 20px;
}







/*-----------------------------------------*/
.footer {
	width: 100%;
	
}
.footer__container {
display: flex;
	
	
}
.footer__end {
	display: flex;
	flex-wrap: wrap;
	background: linear-gradient(360deg, rgba(242, 243, 249, 0) -76.23%, #F2F3F9 135.58%);
	border-radius: 9px;	
	max-width: 504px;
	min-height: 60px;
	align-items: center;
}
.footer__mail {
	padding: 0 13px 0 22px;	

	
}
.mail__adress {
font-size: 16px;
line-height: 140%;
color: #4164E2;
}
.footer__tel {
	padding: 0 13px 0 38px;
}
.tel__num {
font-size: 16px;
line-height: 140%;
color: #212121;
width: 175px;
}
